@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

.allerta-regular {
    font-family: "Allerta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: Allerta;
}

html {
    background-color: #EDEFEE;
}

body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    margin: auto;
    height: 100%;
}

header {
    grid-row-start: 1;
    grid-column-start: 1;
    position: sticky;
    top: 0;
    grid-column-start: 2;
    grid-column: 1/-1;
    max-height: 35px;
	padding: 8px 8px 8px 8px;
	background: #AA210F;
	border-color: #AA210F;
	border-width: 1px;
	border-style: solid;
	border-radius: 0px 0px 10px 10px;
}

nav#header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 40% auto 40% auto;
}

nav#footer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 5% 5% 5% 5% auto;
    grid-row-start: 2;
}

a {
    color: #EDEFEE;
    text-decoration: none;
    justify-self: center;
}

a#logo {
    justify-self: start;
}

input[type="text"] {
	width: 320px;
	height: 32px;
	border-color: #41403C;
	border-width: 2px;
	border-style: solid;
	border-radius: 32px 32px 32px 32px;
    text-align: center;
}

a#home {
    justify-self: right;
    padding: 0.5%;
}

a#cart {
    justify-self: left;
    padding: 0.5%;
}

a#profile {
    justify-self: end;
}

img#profile {
    width: 48px;
    height: 48px;
}

form {
    justify-self: center;
}

header, footer {
    background-color: #AA210F;
    color: #EDEFEE;
}

article {
    grid-row-start: 2;
    grid-column-start: 1;
    padding: 25px;
    grid-column-start: 2;
    color: #41403C;
}

footer {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 1;
    max-height: 60px;
    grid-template-rows: 40% 60% auto;
    grid-column-start: 2;
    grid-column: 1/-1;
    padding: 1% 1% 1% 8px;
    border-width: 0px;
    border-style: solid;
    border-radius: 10px 10px 0px 0px;
}

p#copyright {
    grid-row-start: 3;
    justify-self: center;
    font-size: 12px;
}